<div style="display:inline-block">
	{{#if correction}}
		<a class="input" href="#nogo">
			<span class="correction">{{{ possibility }}}
			</span>
	{{/if}}		<span class="{{ spanClass }}">
				<input type="text" name="{{ name }}" class="{{ class }}" title="{{ title }}" {{ disabled }} size="{{ size }}" maxlength="{{ maxlength }}" autocomplete="off" value="{{ value }}" />
					<em style="{{ bigDisplay }}">{{ big }}
					</em>
			</span>
	{{#if answer.corrected}}
		</a>
	{{/if}}
</div>
