<div class="quiz">
	<form id="quiz{{ quiz.id }}" class="quizForm" method="post" action="#quiz{{ quiz.id }}">
		<div style="display:inline-flex">
			{{#settingsTable }}
				<table class="settings">{{{ . }}}</table>
			{{/settingsTable }}
		</div>
		<input type="hidden" name="quizId" value="{{ quiz.id }}" />
		<div class="quizQuestions">
			{{{ quiz.questions }}}
		</div>
		<p>
			<input type="submit" value="{{ wfMessage.quiz_correction }}"/>
			{{#if quiz.beingCorrected }}
				<input class="reset" type="submit" value="{{ wfMessage.quiz_reset }}">
			{{/if}}
		</p>
		{{#if quiz.beingCorrected }}
			<span class="correction">
				{{{ wfMessage.quiz_score }}}
			</span>
		{{/if}}
	</form>
</div>
