{{# isSettingFirstRow}}
	<tr>
	{{# notSimple}}
		<td><label for="addedPoints">{{ wfMessage.quiz_added }}</label></td>
		<td><input class="numerical" type="number" name="addedPoints" id="addedPoints" value="{{ mAddedPoints }}"/>&#160;&#160;</td>
	{{/ notSimple}}
	{{# corrected}}
		<td class="margin right"></td>
			<td style="background: transparent;">{{ wfMessage.quiz_colorRight }}</td>
	{{/corrected}}
	{{# error}}
		{{^ corrected}}
			<td class="margin error"></td>
			<td>{{ wfMessage.quiz_colorError }}</td>
		{{/corrected}}
	{{/ error}}
	</tr>
{{/ isSettingFirstRow}}
{{# isSettingOtherRow}}
	<tr>
	{{# notSimple}}
		<td><label for="cutoffPoints">{{ wfMessage.quiz_cutoff }}</label></td>
		<td><input class="numerical" type="number" name="cutoffPoints" id="cutoffPoints" value="{{ mCutoffPoints }}"/></td>
	{{/ notSimple}}
	{{# corrected}}
		<td class="margin wrong"></td>
		<td style="background: transparent;">{{ wfMessage.quiz_colorWrong }}</td>
	{{/ corrected}}
	</tr>
{{/ isSettingOtherRow}}
{{# isSettingOtherRow}}
	<tr>
	{{# notSimple}}
		<td><label for="ignoringCoef">{{{ wfMessage.quiz_ignoreCoef }}}</label></td>
		<td><input type="checkbox" name="ignoringCoef" id="ignoringCoef" {{{ checked }}}/></td>
	{{/ notSimple}}
	{{# corrected}}
		<td class="margin NA"></td>
		<td style="background: transparent;">{{ wfMessage.quiz_colorNA }}</td>
	{{/ corrected}}
	</tr>
{{/ isSettingOtherRow}}
{{# notSimple}}
	{{# shuffleOrError}}
	<tr>
		{{#if shuffle}}
			{{^ corrected}}
				{{# shuffleDisplay}}
					<td><input class="shuffle" name="shuffleButton" type="button" value="{{ wfMessage.quiz_shuffle }}"/></td>
				{{/ shuffleDisplay}}
			{{/ corrected}}
		{{/if}}
		{{^ shuffle}}
			<td></td>
		{{/ shuffle}}
		{{^ corrected}}
			<td></td>
		{{/ corrected}}
		{{# error}}
			{{# corrected}}
				<td class="margin error"></td>
				<td>{{ wfMessage.quiz_colorError }}</td>
			{{/ corrected}}
		{{/ error}}
	</tr>
	{{/ shuffleOrError}}
{{/ notSimple}}
